ul {
  padding: 0;
  list-style-type: none;
  margin: 0;
  width: 100%;
  background: #505050;
}

ul li {
  font-size: 0.8rem;
  padding: 5px;
  transition: background-color 0.1s;
  opacity: 1;
  color: #ffb900;
}

ul li:hover {
  cursor: pointer;
}

.substring {
  color: #fff;
}
