input {
  padding: 7px;
  width: 100%;
  background-color: #474747;
  color: #fff;
}

input:focus {
  border-radius: 0;
}

::placeholder {
  text-align: center;
  color: #7fba00;
  font-weight: 600;
  opacity: 1; /* Firefox */
}

::placeholder:hover {
  cursor: pointer;
}
