* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  outline: none;
}

#app {
  margin: 30px;
  width: 300px;
  font-weight: bold;
  -webkit-box-shadow: 0px 0px 15px 15px rgba(242, 80, 34, 1);
  -moz-box-shadow: 0px 0px 15px 15px rgba(242, 80, 34, 1);
  box-shadow: 0px 0px 15px 15px rgba(242, 80, 34, 1);
}
